@page
@model IndexModel
@{
    ViewData["Title"] = "Login";

}
<!DOCTYPE html>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Login </h2>
            <h2 class="inactive underlineHover">Aanmelden </h2>
                
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://lachgaskoeriersneek.nl/wp-content/uploads/2019/05/rings.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Gebruikersnaam">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Wachtwoord">
                <input type="submit" class="fadeIn fourth" value="Inloggen">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Wachtwoord vergeten?</a>
            </div>

        </div>
    </div>
</html>